# files that include critical information
Settings/passes.py
#Settings/settings.py
# files that we don't need to share
documents/
Logs/alisa-logs.log
Logs/alisa-ui-logs.log
# environment
__pycache__/
venvalisa/
.env
# node libraries for UI
UIServices/node_modules/
UIServices/configurations.js
# ide files
.idea/
.vscode/
