extends layouts/main-layout.pug 

block MAIN_CONTENT 
    h1(align="center") Configure System Requirements
    br
    hr
    br
    .container.justify-content-center 
        form(action="/configure" method="POST")
            .form-group.row 
                label(for="ipAddress").col-sm-2.col-form-label IP Address :
                .col-sm-10
                    input(type="text" name="ipAddress" id="ipAddress" placeholder="").form-control

            .form-group.row 
                label(for="interfaceName").col-sm-2.col-form-label Interface Name :
                .col-sm-10
                    input(type="text" name="interfaceName" id="interfaceName" placeholder="").form-control

            br
            hr
            span(onclick="addNewAppForm('whitelistAddContainer', document.getElementById('whitelistAddContainer').lastChild);").customClicker + add another to white List 
            br

            #whitelistAddContainer
                .form-group.row#whitelistRow_1
                    label().col-sm-2.col-form-label Add To White List :
                    .col-sm-10 
                        input(type="text", name="whitelist", id="whitelist", placeholder="").form-control

            br
            hr
            span(onclick="addNewAppForm('appAddContainer', document.getElementById('appAddContainer').lastChild);").customClicker + add another app
            //span(onclick="console.log(document.getElementById('appAddContainer').lastChild.id);").customClicker + add another app
            br
            #appAddContainer 
                .form-group.row#formAppRow_1 
                    label(for="appName").col-sm-2.col-form-label App Name :
                    .col-sm-2
                        input(type="text" name="appName" id="appName" placeholder="").form-control
                    label(for="appIp_1").col-sm-2.col-form-label App IP :
                    .col-sm-2
                        input(type="text" name="appIp" id="appIp" placeholder="").form-control
                    label(for="appPort_1").col-sm-2.col-form-label App Port :
                    .col-sm-2
                        input(type="number" name="appPort" id="appPort" placeholder="").form-control
            
            hr

            // button row
            .form-group.row.d-grib.gap-2
                    input(type="submit" value="Save" style="font-weight: bold;").btn.btn-sm.btn-outline-success
block FOOTER 
