extends layouts/main-layout.pug

block MAIN_CONTENT 
    h1(align="center") ALISA 
    br
    hr
    .container.justify-content-center
        .row.justify-content-center 
            .col-md-5.bordered
                a(href="/configure") 
                    h3(align="center") Configure Alisa
                br
                hr
                br
                ul 
                    li Basic configuration and initialization process
                    li ###
                    li ###
                    li ###
                    li ###
            .col-md-5.bordered
                a(href="/monitor") 
                    h3(align="center") Monitor Alisa
                br
                hr
                br
                ul 
                    li ###
                    li ###
                    li ###
                    li ###
                    li ###

    



            
