extends layouts/main-layout.pug

block MAIN_CONTENT 
    h1(align="center") ALISA 
    br
    hr
    .container.justify-content-center
        .row.justify-content-center 
            .col-md-5.bordered
                a(href="/configure") 
                    h3(align="center") Configure Alisa
                br
                hr
                br
                .innerScrollable 
                    ul 
                        each line in confTexts
                            li #{line}
            .col-md-5.bordered
                a(href="/monitor") 
                    h3(align="center") Monitor Alisa
                br
                hr
                br
                .innerScrollable 
                    ul 
                        each line in monTexts
                            li #{line}
        
        .row.justify-content-center 
            .col-md-11.bordered 
                h3(align="center" style="color:blue;") Applications Which We Currently Tracing 
                br
                hr 
                br
                .innerScrollable 
                    ul 
                        each app in tracingApps 
                            li #{app}

    



            
